:root {
  --titles-color: #212121;
  --text-color: #757575;
  --hover-color: #2196f3;
  --primary-font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: var(--primary-font-family);
  color: var(--titles-color);
}
[href='./index.html'] {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--hover-color);
}
/*HEADER*/
header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.studio-black {
  color: var(--titles-color);
}
.nav a {
  color: inherit;
}
.mail-tel a {
  color: inherit;
}
.nav a:hover,
.mail-tel a:hover {
  color: var(--hover-color);
}
/*HEADER*/
/*FOOTER*/
footer {
  background-color: #2f303a;
}
.studio-white {
  color: #ffffff;
}
.contacts {
  list-style: none;
}
.contacts a {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.contacts a:hover {
  color: #ffffff;
}
/*FOOTER*/
/*HERO*/
.hero {
  background-color: #2f303a;
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.order-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
}
.order-button:hover {
  color: #ffffff;
  background: #2196f3;
  cursor: pointer;
}
/*HERO*/
/*BENEFITS*/
.benefits {
  background-color: #e5e5e5;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.benefits h2 {
  display: none;
}
.benefits-list h3 {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.benefits-list p {
  line-height: 1.71;
  color: var(--text-color);
}
/*BENEFITS*/
/*SUDIO*/
#studio {
  background-color: #e5e5e5;
}
#studio h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
/*SUDIO*/
/*TEAM*/
.team {
  background-color: #f5f4fa;
}
.team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-list h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
}
.team-list p {
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/*TEAM*/
/*PORTFOLIO*/
.buttons button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
}
.buttons button:hover {
  color: #ffffff;
  background-color: var(--hover-color);
  cursor: pointer;
}
.works {
  background-color: #e5e5e5;
}
.works h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.works p {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/*PORTFOLIO*/
