body {
    font-family: $primary-font-family;
    color: map-get($colors, 'titles');
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

p,
h1,
h2,
h3 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: map-get($colors, 'hover');
    text-decoration: none;
    color: map-get($colors, 'hover');
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.big-btn {min-width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    font-family: $primary-font-family;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: map-get($colors, 'another-text');
    background-color: map-get($colors, 'hover');
    &:hover,
    &:focus {
    cursor: pointer;
    }}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.portfolio {
    padding: 94px 0;
}