@import './utils/vars';
@import './common';


@import './components/header';
@import './components/hero';
@import './components/benefits';
@import './components/studio';
@import './components/team';
@import './components/companies';
@import './components/footer';
@import './components/modal';

@import './components/portfolio/buttons';
@import './components/portfolio/works';