.footer {
    padding: 60px 0;
    background-color: #2f303a;
    &>div {
    display: flex;
}
    &__logo {
    display: inline-block;
    margin-bottom: 20px;
}
    &__item {
    margin-bottom: 9px;
    &:last-child {
    margin-bottom: 0;
}
}
    &__link {
    font-family: $primary-font-family;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
        &--white {
        color: map-get($colors, 'another-text');
}
}
}

.logo__span--white {
    color: map-get($colors, 'another-text');
}

.join {
    margin-left: 70px;
    &__title {
    margin-bottom: 20px;
    color: map-get($colors, 'another-text');
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
}

.socials__link--white {fill: map-get($colors, 'another-text');
    background-color: rgba(255, 255, 255, 0.1);
}

.email-form__input {
    width: 358px;
    height: 50px;
    margin: 20px 12px 0 0;
    padding-left: 16px;
    color: map-get($colors, 'another-text');
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2f303a;
    &::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
}
}

.email-form {
    margin-left: auto;
    &__label {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: map-get($colors, 'another-text');
    }
    &__btn {
    display: inline;
    margin: 0;
    }
    &__svg {fill: map-get($colors, 'another-text');
    vertical-align: middle;
    margin-left: 10px;
}
}