.header {
    border-bottom: 1px solid #ececec;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.container--flex {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    margin: 0;
    &__logo {
    padding: 24px 0;
    margin-right: 93px;
    color: map-get($colors, 'hover');
}
    &__list {
    display: flex;
    align-items: center;
}
    &__link {
    display: block;
    padding: 32px 0 31px;
    text-decoration: none;
    color: inherit;
    @include transition(color);
    &:hover, &:focus {
            color: map-get($colors, 'hover');
            fill: map-get($colors, 'hover');
        }
}
}

.logo__span--black {
    color: map-get($colors, 'titles');
}

.mail-tel {@extend .nav__list;
    &__link { @extend .nav__link;
    color: map-get($colors, 'text');
    fill: map-get($colors, 'text');
    }
    &__svg {vertical-align: top;
        margin-right: 6px;
        @include transition(fill);
    }
}

.nav__item, .mail-tel__item {
&:not(:last-child) {
    margin-right: 50px;
}
}

.nav__item--current {
    position: relative;
    color: map-get($colors, 'hover');
    &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
}
}