.hero {
    margin: 0 auto;
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #2f303a;
    padding: 200px 0;
    &-title {
    width: 696px;
    margin: 0 auto 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: map-get($colors, 'another-text');}
    &-button {
    display: block;
    min-width: 200px;
    height: 50px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    font-family: $primary-font-family;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: map-get($colors, 'another-text');
    background-color: map-get($colors, 'hover');
    &:hover, &:focus {
    cursor: pointer;
}
}
    }