.studio {
    padding-bottom: 94px;
}

.studio-list {
    display: flex;
    margin-top: 50px;
}

.studio-item:not(:last-child) {
    margin-right: $typical-margin;
}

.studio-item {
    position: relative;
    height: 294px;
}

.cover-text {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 27px 0;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: map-get($colors, 'another-text');
    background-color: rgba(47, 48, 58, 0.8);
}