.studio {
    display: none;
    padding-bottom: 94px;
    @include desktop {display: block;}
    &__list {
    display: flex;
    margin-top: 50px;
    gap: $typical-margin;
}
    &__item {
    position: relative;
    height: 294px;
}
    &__cover-text {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 27px 0;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: map-get($colors, 'another-text');
    background-color: rgba(47, 48, 58, 0.8);
}
}