.team {
    padding: 94px 0;
    background-color: #f5f4fa;
    &__list {
    display: flex;
    margin-top: 50px;
}
    &__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: map-get($colors, 'another-text');
        &:not(:last-child) {
    margin-right: $typical-margin;
}
}
    &__div {
    padding: 30px 0;
    text-align: center;
    letter-spacing: 0.03em;
}
    &__title {
    font-size: 16px;
    line-height: 1.19;
    font-weight: 500;
    margin-bottom: 10px;
}
    &__text {
    font-size: 16px;
    line-height: 1.19;
    color: map-get($colors, 'text');
    margin-bottom: 16px;
}
}

.socials {
    display: flex;
    justify-content: center;
    &__item:not(:last-child) {
    margin-right: 10px;
}
    &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    fill: map-get($colors, 'svg');
    background-color: map-get($colors, 'another-text');
    transition: fill 250ms $cubic, background-color 250ms $cubic;
        &:hover,
        &:focus {
        fill: map-get($colors, 'another-text');
        background-color: map-get($colors, 'hover');
}
}
}
