.works {
    display: flex;
    flex-wrap: wrap;
    &-titles {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
}
    & h2 {font-family: $primary-font-family;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
    &-p {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: map-get($colors, 'text');
}
}

.works-item {
    margin-right: $typical-margin;
    margin-bottom: $typical-margin;
    @include transition(box-shadow);
    &:nth-child(3n + 3) {
    margin-right: 0;
}
    &:nth-last-child(-n + 3) {
    margin-bottom: 0;
}
    &:hover,
    &:focus {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
        & .riding-text {
        transform: translateY(-100%);
}
}
}

.thumb {
    position: relative;
    overflow: hidden;
}

.riding-text {
    position: absolute;
    width: 100%;
    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: map-get($colors, 'another-text');
    background-color: rgba(33, 150, 243, 0.9);
    @include transition(transform);
}

