$primary-font-family: 'Roboto',
'Helvetica Neue',
sans-serif;
$typical-margin: 30px;
$cubic:  cubic-bezier(0.4, 0, 0.2, 1);
$tablet-width: calc((100% - 30px) / 2);

$colors: (
'titles': #212121,
'text': #757575,
'another-text': #fff,
'svg': #afb1b8,
'hover': #2196f3,
);